.cta-button {
    text-align: center;
    margin-top: 30px;
}

.cta-button .btn-home {
    padding: 10px 20px;
    background-color: #ff1654;
    color: #fff;
}

.cta-button .btn-home:hover {
    background-color: #ff1654;
}

.cta-button .btn-register {
    padding: 10px 20px;
    background-color: #ea0e46;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cta-button .btn-register:hover {
    background-color: #6b1a30;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #ff1654;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

.social-links a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.form-group input:focus {
    border-color: #ff1654;
    outline: none;
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
