.profile-wrapper {
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    min-height: calc(100vh - 130px); /* Мінімальна висота, що відповідає висоті екрану */
    width: 100%;
    padding: 10px;
    background-image: url("../images/log_back.jpg");
}

.profile-container {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
}

.user-pic img {
    width: 120px;
    height: 120px;
    border: 2px solid #ae1840;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2%;
    margin-top: 2%;
}

.profile-info p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-bottom: 4%;
    margin-top: 2%;
}

.social-icon i {
    font-size: 45px;
    color: #ae1840;
    transition: transform 0.3s ease;
}

.social-icon:hover i {
    transform: scale(1.1);
    color: #6b1a30;
}

.form-control {
  width: 250px;
  padding: 0 10px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  border: 0;
  margin-bottom: 0;
  border-radius: 50px;
  background-color: gray;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #ae1840;
  outline: none;
}

.edit-button {
    background: none;
    border: 0;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
}

.edit-button:hover {
    background-color: rgba(77, 77, 77, 0.6);
}

.btn-accept, .btn-cancel {
  align-items: center;
  appearance: none;
  background-image: linear-gradient(1deg, #3c3c3c, #737373 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn-accept:active,
.btn-accept:focus,
.btn-cancel:active,
.btn-cancel:focus {
  outline: none;
}

.btn-accept:hover, .btn-cancel:hover {
  background-position: -20px -20px;
}