{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITERA - Твій путівник у світі книг{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'library_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'library_app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'library_app/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'library_app/css/footer.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'library_app/images/litera.png' %}" alt="Логотип LITERA">
        </div>
        <nav>
            <ul>
                <li><a class="button-49" href="{% url 'home' %}">Головна</a></li>
                <li><a href="{% url 'locations_map' %}">Локації</a></li>
                <li><a href="{% url 'book' %}">Книги</a></li>

                {% if user.is_authenticated %}
                    <li class="user-menu">
                        <a class="button-55 user-name">
                            {{ user.username }}
                        </a>
                        <!-- Це список, який з’являється при наведенні -->
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_profile' %}">Профіль</a></li>
                            <li><a href="{% url 'user_settings' %}">Налаштування</a></li>
                            <li><a href="{% url 'logout' %}">Вийти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="button-55" href="{% url 'login' %}">УВІЙТИ</a></li>
                    <li><a class="button-54" href="{% url 'register' %}">ЗАРЕЄСТРУВАТИСЯ</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="social-links">
            <a href="https://x.com" target="_blank">X</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://telegram.org" target="_blank">Telegram</a>
            <a href="https://facebook.com" target="_blank">Facebook</a>
        </div>
        <p>&copy; 2024 LITERA. Всі права захищені.</p>
    </footer>
</body>
</html>