{% extends 'base.html' %}
{% block title %}Книги{% endblock %}
{% block header %}Список Книг{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'library_app/css/book.css' %}">
    <form id="searchForm" method="GET" action="{% url 'book' %}">
    <input
        type="text"
        id="searchInput"
        name="q"
        placeholder="Введіть назву книги, автора або жанр..."
        value="{{ query|default_if_none:'' }}"
        autocomplete="off"
    >
    <button type="submit">Пошук</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Автори</th>
                <th>Видавництво</th>
                <th>Рік видання</th>
                <th>Мова</th>
                <th>Кількість сторінок</th>
                <th>Категорії</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>
                    {% for author in book.authors.all %}
                        {{ author.full_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ book.publishing.name }}</td>
                <td>{{ book.year_of_publication }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.number_of_pages }}</td>
                <td>
                    {% for category in book.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block extra_js %}
<!-- Підключаємо jQuery та jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
<script>
    var autocompleteUrl = "{% url 'autocomplete_books' %}";
</script>
<script src="{% static 'library_app/js/autocomplete.js' %}"></script>
{% endblock %}

{% endblock %}