{% extends 'base.html' %}
{% block title %}Книги{% endblock %}
{% block header %}Список Книг{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Автор</th>
                <th>Видавництво</th>
                <th>Рік видання</th>
                <th>Мова</th>
                <th>Кількість сторінок</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publishing }}</td>
                <td>{{ book.year_of_publication }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.number_of_pages }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
