{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<section class="hero">
    <p class="slogan">Твій путівник у світі книг та затишку.</p>
    <p class="quote">Кімната без книг — все одно, що людина без душі.<br><span>(c) О.Довженко</span></p>
</section>
<section class="features">
    <div class="features-text">
        <ul>
            <li>Орендуйте книжки за допомогою веб-сайту або у закладі Львова.</li>
            <li>Отримайте доступ до широкого асортименту літератури, доступної для оренди як в Інтернеті, так і в наших фізичних локаціях.</li>
            <li>Легкий та зручний спосіб знайти улюблену книгу.</li>
            <li>Поверніть книгу в зручний для вас час - онлайн або в офлайн-пункті видачі.</li>
            <li>Без клопотів та зайвих витрат.</li>
        </ul>
    </div>
    <div class="cta-button">
    <a class="btn-register" href="{% url 'user_register' %}">ЗАРЕЄСТРУВАТИСЯ</a>
</div>
</section>
{% endblock %}
