{% extends 'base.html' %}
{% load static %}
{% block title %}Мапа Локації{% endblock %}
{% block content %}
    <div id="map"></div>
    <div id="info-table" class="info-table"></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFybC1rYXJreCIsImEiOiJjbTM4ajBzMWcwcThxMmxyNjJsem0yend3In0.Y3IxtbjjnT5nSpfgZyR9ZQ';

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/marl-karkx/cm50vmhnn009i01sag0oka2vx',
            center: [24.030, 49.839],
            zoom: 11.90
        });

        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.GeolocateControl({ positionOptions: { enableHighAccuracy: true }, trackUserLocation: true }));

        var geojson = {{ geojson|safe }};

        map.on('load', function () {

            map.addSource('bookstores', {
                'type': 'geojson',
                'data': geojson
            });

            map.loadImage('{% static "library_app/images/icon.jpg" %}', function (error, image) {
                if (error) throw error;
                map.addImage('bookstore-icon', image);

                map.addLayer({
                    'id': 'bookstores-layer',
                    'type': 'symbol',
                    'source': 'bookstores',
                    'layout': {
                        'icon-image': 'bookstore-icon',
                        'icon-size': 0.1,
                        'icon-anchor': 'bottom',
                    }
                });
            });

            const infoTable = document.getElementById('info-table');
            let isClicked = false;

            map.on('mouseenter', 'bookstores-layer', function (e) {
                map.getCanvas().style.cursor = 'pointer';
                const properties = e.features[0].properties;
                infoTable.innerHTML = `<table border="1">
                    <tr>
                    <th colspan="2">${properties.name}</th></tr>
                    <tr>
                    <td>📍 Адреса</td>
                    <td>${properties.address}</td></tr>
                    <tr>
                    <td>🕒 Графік</td>
                    <td>${properties.work_schedule}</td></tr>
                    <tr>
                    <td>
                        <a href="{{ properties.instagram_link }}" class="instagram-link">📷 Інстаграм</a>
                    </td>
                    <td><a href="http://127.0.0.1:8000/books/" class="book-link" >📚 Cписок книг</a></td></tr>
                </table>`;
                infoTable.style.display = 'block';
                infoTable.style.left = `${e.point.x - 20}px`;
                infoTable.style.top = `${e.point.y + 80}px`;
            });

            map.on('mouseleave', 'bookstores-layer', function () {
                map.getCanvas().style.cursor = 'pointer';
                infoTable.style.display = 'none';
            });

            map.on('click', 'bookstores-layer', function (e) {
                isClicked = !isClicked;  // Якщо вже відкрито, закриває, інакше відкриває
                const properties = e.features[0].properties;
                infoTable.innerHTML = `<table border="1">
                    <tr>
                    <th colspan="2">${properties.name}</th></tr>
                    <tr>
                    <td>📍 Адреса</td>
                    <td>${properties.address}</td></tr>
                    <tr>
                    <td>🕒 Графік</td>
                    <td>${properties.work_schedule}</td></tr>
                    <tr>
                    <td>
                        <a href="{{ properties.instagram_link }}" class="instagram-link">📷 Інстаграм</a>
                    </td>
                    <td><a href="http://127.0.0.1:8000/books/" class="book-link" >📚 Cписок книг</a></td></tr>
                </table>`;
                infoTable.style.display = isClicked ? 'block' : 'none';
                infoTable.style.left = `${e.point.x - 20}px`;
                infoTable.style.top = `${e.point.y + 80}px`;
            });

            document.getElementById('resetView').addEventListener('click', function () {
                map.flyTo({ center: [24.00967, 49.83446], zoom: 11.79 });
            });
        });

        window.addEventListener('load', function() {
            map.resize()
        });
    </script>

    <style>
        #map {
            width: 97%;
            height: 600px;
            margin: 20px;
        }
        .info-table {
            position: absolute;
            background: none;
            padding: 5px;
            display: none;
            z-index: 10;
            font-size: 12px;
            border-radius: 5px;
            max-width: 300px;
        }
        #resetView {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 10;
            padding: 5px;
            font-size: 14px;
            border: 1px solid gray;
            border-radius: 5px;
            background: white;
        }
        a.instagram-link:link,
        a.instagram-link:visited,
        a.instagram-link:active,
        a.instagram-link:hover {
        color: white !important;
        }
        a.book-link:link,
        a.book-link:visited,
        a.book-link:active,
        a.book-link:hover {
        color: white !important;
        }
        td.col
        {
            width: 200px;
        }
    </style>
{% endblock %}



