{% load static %}
<link rel="stylesheet" href="{% static 'library_app/css/user_login.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"><a href="/login/" class="underlineHover">Увійти</a></h2>
    <h2 class="inactive underlineHover"><a href="/register/" class="underlineHover">Зареєструватися</a></h2>

    <!-- Login Form -->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="email"></label>
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Пошта" required>
        <label for="password"></label>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль" required>
      <input type="submit" class="fadeIn fourth" value="Увійти">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Забули пароль?</a>
    </div>

  </div>
</div>
