{% load static %}
<link rel="stylesheet" href="{% static 'library_app/css/user_login.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"><a href="/login/" class="underlineHover">Увійти</a></h2>
    <h2 class="active"><a href="/register/" class="underlineHover">Зареєструватися</a></h2>

    <!-- Register Form -->
    <form>
        <div class="name-surname-container">
            <label for="register_login_name"></label><input type="text" id="register_login_name" class="fadeIn second" name="register_login_name" placeholder="Ім'я">
            <label for="register_login_surname"></label><input type="text" id="register_login_surname" class="fadeIn second" name="register_login_surname" placeholder="Прізвище">
        </div>
        <label for="register_email"></label><input type="email" id="register_email" class="fadeIn second" name="register_email" placeholder="Пошта">
        <label for="register_phone_number"></label><input type="tel" id="register_phone_number" class="fadeIn third" name="register_phone_number" placeholder="Номер телефону">
        <label for="register_password"></label><input type="password" id="register_password" class="fadeIn third" name="register_password" placeholder="Пароль">
        <label for="register_password_confirm"></label><input type="password" id="register_password_confirm" class="fadeIn third" name="register_password_confirm" placeholder="Підтвердження пароля">
        <input type="submit" class="fadeIn fourth" value="Зареєструватися">
    </form>

      <!-- Link to Home Page -->
    <div id="formFooter">
      <a class="underlineHover" href="/">Скасувати</a>
    </div>

  </div>
</div>
