{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'library_app/css/user_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <div class="profile-wrapper">
        <div class="profile-container">
            <h1 class="profile-heading">Мій профіль</h1>
            <div class="user-pic">
                <img src="{% static 'library_app/images/avatars/power-headset.jpg' %}" class="img" alt="User-Profile-Image">
            </div>
            <div class="profile-info">
                <form method="POST">
                    {% csrf_token %}
                    <p><strong>Нікнейм:</strong>
                        {% if edit_mode %}
                            <input type="text" name="username" value="{{ request.user.username }}" class="form-control" />
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </p>
                    <p><strong>Ім'я:</strong>
                        {% if edit_mode %}
                            <input type="text" name="first_name" value="{{ request.user.first_name }}" class="form-control" />
                        {% else %}
                            {{ request.user.first_name }}
                        {% endif %}
                    </p>
                    <p><strong>Прізвище:</strong>
                        {% if edit_mode %}
                            <input type="text" name="last_name" value="{{ request.user.last_name }}" class="form-control" />
                        {% else %}
                            {{ request.user.last_name }}
                        {% endif %}
                    </p>
                    <p><strong>Email:</strong>
                        {% if edit_mode %}
                            <input type="email" name="email" value="{{ request.user.email }}" class="form-control" />
                        {% else %}
                            {{ request.user.email }}
                        {% endif %}
                    </p>
                    <p><strong>Телефон:</strong>
                        {% if edit_mode %}
                            <input type="text" name="phone_number" value="{{ request.user.phone_number }}" class="form-control" />
                        {% else %}
                            {{ request.user.phone_number }}
                        {% endif %}
                    </p>

                    <hr>

                    <div class="social-section">
                        <h3>Соцмережі</h3>
                        <div class="social-icons">
                            {% if request.user.x_link %}
                                <a href="{{ request.user.x_link }}" target="_blank" class="social-icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            {% endif %}
                            {% if request.user.instagram_link %}
                                <a href="{{ request.user.instagram_link }}" target="_blank" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            {% endif %}
                            {% if request.user.telegram_link %}
                                <a href="{{ request.user.telegram_link }}" target="_blank" class="social-icon">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            {% endif %}
                            {% if request.user.facebook_link %}
                                <a href="{{ request.user.facebook_link }}" target="_blank" class="social-icon">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    {% if edit_mode %}
                        <button type="submit" class="btn-accept">Зберегти зміни</button>
                        <button href="{% url 'user_profile' %}" class="btn-cancel">Скасувати</button>
                    {% else %}
                        <button type="submit" name="edit_mode" class="edit-button">
                            <img src="{% static 'library_app/images/edit-icon-png-3602.png' %}" alt="Редагувати" width="30" height="30">
                        </button>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}